In [1]:

import datetime as datetime
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

plt.style.use('default') # Make the graphs a bit prettier
plt.rcParams['figure.figsize'] = (15, 5)

#ver relaciones entre datos. que datos depende de otros. cuales son redundantes y no aportan informacion.

In [2]:
dsSell2013 = pd.read_csv("sell2013.csv", low_memory=False)
dsSell2014 = pd.read_csv("sell2014.csv", low_memory=False)
dsSell2015 = pd.read_csv("sell2015.csv", low_memory=False)
dsSell2016 = pd.read_csv("sell2016.csv", low_memory=False)
dsSell2017 = pd.read_csv("sell2017.csv", low_memory=False)

In [3]:
#unimos todos los csv y filtramos para que solo queda GBA y CABA
dsSell = dsSell2013.append(dsSell2014).append(dsSell2015).append(dsSell2016).append(dsSell2017)


#filtrar con la lat long, o preguntar ocmo hacemos con los q no tienen ningun valor. 
#sino podemos filtrar a todos los  qno son nan y si es nan ir al campo descripcion a ver si es de gba y asi pero mas jodido creo
#patterns = ['Capital Federal', 'Bs.As. G.B.A.']
#dsSell = dsSell[dsSell['state_name'].str.contains('|'.join(patterns))]

In [4]:
dsSell2013.head()

,created_on,operation,property_type,place_name,place_with_parent_names,geonames_id,lat-lon,lat,lon,price,currency,price_aprox_local_currency,price_aprox_usd,surface_in_m2,price_usd_per_m2,floor,rooms,expenses,properati_url,image_thumbnail
0,2012-08-08,sell,apartment,Belgrano,|Argentina|Capital Federal|Belgrano|,3436077.0,"-34.561208,-58.464514",-34.561208,-58.464514,NaN,NaN,NaN,NaN,102.0,NaN,10.0,3.0,850 aprox,http://www.properati.com.ar/ag_venta_departame...,http://cf-thumbs.properati.com.ar/Cry7pVKa41t_...
1,2012-08-08,sell,apartment,Villa Ballester,|Argentina|Bs.As. G.B.A. Zona Norte|General Sa...,3427467.0,"-34.54673,-58.550579",-34.546730,-58.550579,NaN,NaN,NaN,NaN,73.0,NaN,11.0,3.0,NaN,http://www.properati.com.ar/ah_venta_departame...,http://cf-thumbs.properati.com.ar/MwrzW_dkQbqR...
2,2012-08-08,sell,house,Villa Ballester,|Argentina|Bs.As. G.B.A. Zona Norte|General Sa...,3427467.0,"-34.543776,-58.559615",-34.543776,-58.559615,NaN,NaN,NaN,NaN,485.0,NaN,NaN,4.0,NaN,http://www.properati.com.ar/aj_venta_casa_vill...,http://cf-thumbs.properati.com.ar/2wMqxAsh1N2t...
3,2012-08-08,sell,house,Villa Ballester,|Argentina|Bs.As. G.B.A. Zona Norte|General Sa...,3427467.0,NaN,NaN,NaN,110000.0,USD,649603.74,110000.0,349.0,315.186246,NaN,4.0,NaN,http://www.properati.com.ar/ak_venta_casa_vill...,http://cf-thumbs.properati.com.ar/uMwzJsvexa1C...
4,2012-08-08,sell,apartment,Loma Hermosa,|Argentina|Bs.As. G.B.A. Zona Oeste|Tres de Fe...,NaN,"-34.568371,-58.598724",-34.568371,-58.598724,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,http://www.properati.com.ar/ao_venta_departame...,http://cf-thumbs.properati.com.ar/4kPnofvgR6hs...

In [5]:
dsSell2014.columns

Index(['created_on', 'operation', 'property_type', 'place_name',
       'place_with_parent_names', 'geonames_id', 'lat-lon', 'lat', 'lon',
       'price', 'currency', 'price_aprox_local_currency', 'price_aprox_usd',
       'surface_in_m2', 'price_usd_per_m2', 'floor', 'rooms', 'expenses',
       'properati_url', 'image_thumbnail'],
      dtype='object')

In [6]:
dsSell2015.columns

Index(['created_on', 'operation', 'property_type', 'place_name',
       'place_with_parent_names', 'geonames_id', 'lat-lon', 'lat', 'lon',
       'price', 'currency', 'price_aprox_local_currency', 'price_aprox_usd',
       'surface_total_in_m2', 'surface_covered_in_m2', 'price_usd_per_m2',
       'price_per_m2', 'floor', 'rooms', 'expenses', 'properati_url',
       'description', 'title', 'extra', 'image_thumbnail'],
      dtype='object')

In [7]:
dsSell.columns

Index(['country_name', 'created_on', 'currency', 'description', 'expenses',
       'extra', 'floor', 'geonames_id', 'id', 'image_thumbnail', 'lat',
       'lat-lon', 'lon', 'operation', 'place_name', 'place_with_parent_names',
       'price', 'price_aprox_local_currency', 'price_aprox_usd',
       'price_per_m2', 'price_usd_per_m2', 'properati_url', 'property_type',
       'rooms', 'state_name', 'surface_covered_in_m2', 'surface_in_m2',
       'surface_total_in_m2', 'title'],
      dtype='object')

In [8]:
#Queremos quedarnos con la zona, el municipio y los que esten en CABA y GBA

dsSell['municipio'] = dsSell['place_with_parent_names'].apply(lambda x: x.split('|')[3])
dsSell['zona'] = dsSell['place_with_parent_names'].apply(lambda x: x.split('|')[2])

dsSell['filtro'] = dsSell['zona'].apply(lambda x: ((x=='Capital Federal')or(x=='Bs.As. G.B.A. Zona Norte')or(x=='Bs.As. G.B.A. Zona Sur')or(x=='Bs.As. G.B.A. Zona Oeste')))
dsSell = dsSell[dsSell.filtro]
dsSell.drop('filtro', axis=1, inplace=True)

In [9]:
#Como nos importa mucho el precio con respecto a otras cosas vamos a sacar a los que tienen esa columna en NaN

dsSell['tiene_precio'] = dsSell['price'].apply(lambda x: pd.notnull(x))
dsSell = dsSell[dsSell.tiene_precio]
dsSell.drop('tiene_precio', axis=1, inplace=True)

In [10]:
#cuantos tipos de vivienda se vende

dsSell['property_type'].value_counts()

apartment    173536
house        101135
PH            19129
store          8020
Name: property_type, dtype: int64

In [11]:
#lugares donde mas se vende
dsSell['place_name'].value_counts()
#dsSell['municipio'].value_counts()

Tigre                                  12115
Nordelta                               11696
Capital Federal                        11499
Pilar                                  10249
Belgrano                                9505
Ramos Mejía                             9379
Palermo                                 8294
Caballito                               6364
Olivos                                  6311
Morón                                   5211
San Isidro                              5119
Villa Urquiza                           4635
Benavidez                               4610
Villa Crespo                            4398
Barrio Norte                            4332
Recoleta                                4257
Flores                                  4241
Martínez                                4208
Haedo                                   4072
Ituzaingó                               4045
La Plata                                3942
Vicente López                           3845
Almagro                                 3710
San Fernando                            3685
San Miguel                              3518
Nuñez                                   3143
Balvanera                               3069
Bs.As. G.B.A. Zona Norte                2973
San Martín                              2900
Lomas de Zamora                         2647
                                       ...
Churruca                                   1
Barrio Cerrado La Colina                   1
Barrio Cerrado "La Merced"                 1
Barrio Cerrado "Isla del Sol"              1
Los Pingüinos Country Club                 1
Veinte de Junio                            1
Barrio Cerrado La Masia                    1
Barrio San Marco                           1
Barrio Santa Elena - Pilar del Este        1
Barrio Cerrado "La Laguna"                 1
Barrio Melazzi                             1
 los alamos                                1
Barrio Cerrado "La Chacra"                 1
San Carlos Country Club - Entrada          1
Barrio Cerrado "La Emilia"                 1
Villa San Luis                             1
La Esperanza Club de Campo                 1
Barrio Cerrado Los Troncos                 1
Barrio Cerrado "SpringDale"                1
Barrio Privado Lagos de Canning            1
Barrio Cerrado El Casco de Alvarez         1
Barrio Cerrado "La Retama"                 1
La Honorata                                1
Barrio Cerrado "La Candelaria"             1
La Matilda                                 1
Gorina                                     1
Barrio Cerrado "Las Marías"                1
Club de Campo Manuel Belgrano              1
Barrio Cerrado "Jacarandá"                 1
Villa Brown                                1
Name: place_name, dtype: int64

dsSell['place_name'].value_counts()

In [12]:
dsSell[['place_name', 'price']]

                  place_name      price
3            Villa Ballester   110000.0
6                 San Martín    99000.0
10                     Tigre   110000.0
11                     Pilar   650000.0
12                     Tigre   300000.0
13               Las Cañitas   600000.0
14                    Flores   220000.0
16                  Floresta    51900.0
17         Parque Centenario   195000.0
18                   Liniers   115000.0
19                     Tigre   195000.0
20              Constitución    69000.0
21              Constitución    61200.0
22                     Tigre  1100000.0
23                     Pilar   320000.0
24                  Recoleta   280000.0
25                  Recoleta   138500.0
26                     Tigre   190000.0
27                     Tigre   530000.0
28             Villa Udaondo   175000.0
29      San Antonio De Padua   120000.0
30                  Victoria    50000.0
31           Villa Ballester    89000.0
32              Villa Crespo    76500.0
33              Villa Crespo   127500.0
34                   Palermo   160000.0
35               Ramos Mejía    85000.0
36               Ramos Mejía    85000.0
37               Ramos Mejía    85000.0
38          Villa Pueyrredón   116900.0
...                      ...        ...
187403       Capital Federal   141000.0
187406       Capital Federal   138800.0
187407       Capital Federal   133000.0
187408       Lomas de Zamora   207000.0
187409       Capital Federal   135000.0
187410       Capital Federal   137000.0
187411                 Nuñez   380000.0
187414                Olivos   548200.0
187415             Temperley   162000.0
187416                  Boca    75000.0
187417               Coghlan   219000.0
187418                Olivos   652200.0
187419             Caballito   330000.0
187420              El Talar   225000.0
187423             Mataderos   150000.0
187424       Capital Federal    92000.0
187426          Barrio Norte   245000.0
187466      Jose Leon Suarez    80000.0
187468                Olivos   370000.0
187469            El Palomar   120000.0
187470       Lomas de Zamora   140000.0
187471              Recoleta   142000.0
187472              Recoleta   215000.0
187473               Palermo   145000.0
187474                Matheu   118000.0
187475          Barrio Norte   155000.0
187476         Villa Urquiza   219000.0
187478              Belgrano   108000.0
187479              Martínez   248000.0
187480            Villa Luro   110000.0

[301820 rows x 2 columns]

In [13]:
dsSell.groupby('municipio').price_aprox_usd.mean().head()

municipio
                   270231.721642
Abasto             155498.772601
Agronomía          157318.141667
Almagro            148182.569555
Almirante Brown    196867.297707
Name: price_aprox_usd, dtype: float64

In [14]:
%matplotlib notebook

numeros = list(range(0, len(aux['place_name'])))
plt.bar(numeros, aux['price'])
plt.suptitle("Relación entre precio y lugar de propiedades en venta")
plt.xlabel("Lugar")
plt.ylabel("Precio")
plt.xticks(numeros, aux['place_name'])
plt.show()

NameError: name 'aux' is not defined

In [ ]:
aux = dsSell.groupby('place_name').count().reset_index().sort_values(by = 'price',ascending= False)[['place_name', 'price']]
aux

In [ ]:
%matplotlib notebook

numeros = list(range(0, len(aux['place_name'])))
plt.bar(numeros, aux['price'])
plt.suptitle("Relación entre lugar y cantidad de publicaciones de ese lugar")
plt.xlabel("Lugar")
plt.ylabel("Precio")
plt.xticks(numeros, aux['place_name'])
plt.show()

In [ ]:

#formatear datos stirng a float
#convertimos el formato de la fecha
dsSell['created_on'] = dsSell['created_on'] .map(lambda x: x.split('-')[0]+x.split('-')[1]+x.split('-')[2])
dsSell

In [ ]:
#pasar precios a pesos argentinos


#usamos un promedio aprox del dolar en estos 4 años. se peude hacer ocn mas precisión
dsSell['priceInUsd'] = dsSell[['price', 'currency']].apply(lambda x: x[0] if x[1] == 'USD' else x[0] / 14, axis=1) 

dsSell['priceInUsd']

In [ ]:
#vemos como evolucionan algunos features en el tiempo para la renta

cantidadRentEnAnios = dsSell.groupby('created_on').count().reset_index().rename(columns={'price':'cantidad'}).sort_values(by = 'created_on',ascending= True)[['created_on', 'cantidad']]
preciosRentEnAnios = dsSell.groupby('created_on').mean().reset_index().sort_values(by = 'created_on',ascending= True)[['created_on', 'priceInUsd']]

In [ ]:
%matplotlib notebook

numeros = list(range(0, len(cantidadRentEnAnios['created_on'])))
plt.bar(numeros, cantidadRentEnAnios['cantidad'])
plt.suptitle("Evolución de cantidad de rentas en el tiempo")
plt.xlabel("Tiempo")
plt.ylabel("Cantidad Rentas")
plt.xticks(numeros, cantidadRentEnAnios['created_on'])
plt.show()

#ajustar ESCALAS

In [ ]:
%matplotlib notebook

numeros = list(range(0, len(preciosRentEnAnios['created_on'])))
plt.bar(numeros, preciosRentEnAnios['priceInUsd'])
plt.suptitle("Evolución del precio a lo largo del tiempo")
plt.xlabel("Tiempo")
plt.ylabel("Precio")
plt.xticks(numeros, preciosRentEnAnios['created_on'])
plt.show()

In [ ]:
dsSell['currency'].value_counts()

In [ ]:
#Cantidad de viviendas vendidas en dolares y pesos a lo largo del tiempo
cantidadRentEnAniosEnDolares = dsSell[dsSell['currency'] == 'USD'].groupby('created_on').count().reset_index().rename(columns={'price':'cantidad'}).sort_values(by = 'created_on',ascending= True)[['created_on', 'cantidad']]
cantidadRentEnAniosEnPesos = dsSell[dsSell['currency'] == 'ARS'].groupby('created_on').count().reset_index().rename(columns={'price':'cantidad'}).sort_values(by = 'created_on',ascending= True)[['created_on', 'cantidad']]

In [ ]:
%matplotlib notebook

numeros = list(range(0, len(cantidadRentEnAniosEnDolares['created_on'])))
plt.bar(numeros, cantidadRentEnAniosEnDolares['cantidad'])
plt.suptitle("Evolución de cantidad de rentas en el tiempo en dolares")
plt.xlabel("Tiempo")
plt.ylabel("Cantidad Rentas")
plt.xticks(numeros, cantidadRentEnAniosEnDolares['created_on'])
plt.show()

In [ ]:
%matplotlib notebook

numeros = list(range(0, len(cantidadRentEnAniosEnPesos['created_on'])))
plt.bar(numeros, cantidadRentEnAniosEnPesos['cantidad'])
plt.suptitle("Evolución de cantidad de rentas en el tiempo en pesos")
plt.xlabel("Tiempo")
plt.ylabel("Cantidad Rentas")
plt.xticks(numeros, cantidadRentEnAniosEnPesos['created_on'])
plt.show()

In [ ]:
#analizamos el precio de los lugares a lo largo del tiempo

aux = dsSell.groupby(['place_name', 'created_on']).mean().reset_index().sort_values(by = 'price',ascending= False)[['place_name', 'created_on','priceInUsd']]
aux

In [ ]:
#ESTO ESTA BASTATNE MAL 


%matplotlib notebook

plt.scatter(aux['created_on'], aux['priceInUsd'])
plt.suptitle("Evolución de preico en pesos en los lugares a lo largo del tiempo")
plt.xlabel("Tiempo")
plt.ylabel("Precio En Pesos")
#plt.xticks(numeros, cantidadRentEnAniosEnPesos['created_on'])
plt.show()

In [ ]:
dsSell.columns

In [ ]:
#borrar los aprox de expenses
#pasar price_per_m2 y price_usd_per_m2 a una sola que sea price_usd_per_m2
dsSell.head()

In [ ]:
#sobre esto tal vez se puede hacer analisis de texto. tambien analizar la imagen..
dsSell[['description', 'image_thumbnail']]

In [ ]:
#drop de columnas

dsSell.drop('currency', axis=1, inplace=True)
dsSell.drop('extra', axis=1, inplace=True)
dsSell.drop('id', axis=1, inplace=True)
dsSell.drop('image_thumbnail', axis=1, inplace=True)
dsSell.drop('properati_url', axis=1, inplace=True)
dsSell.drop('title', axis=1, inplace=True)
dsSell.drop('lat-lon', axis=1, inplace=True)
dsSell.drop('operation', axis=1, inplace=True)
dsSell.drop('price_aprox_usd', axis=1, inplace=True)
dsSell.drop('price', axis=1, inplace=True)
dsSell.drop('price_aprox_local_currency', axis=1, inplace=True)
dsSell.drop('country_name', axis=1, inplace=True)

dsSell.drop('description', axis = 1, inplace = True)
dsSell.drop('state_name', axis = 1, inplace = True)
dsSell.drop('place_with_parent_names', axis=1, inplace=True)

In [ ]:
#one hot encoding de los place name. me suena mal muchas columnas. performance

one_hot = pd.get_dummies(dsSell['place_name'])
dsSell.drop('place_name', axis=1, inplace=True)
dsSell = dsSell.join(one_hot)

In [ ]:
#El precio promedio de cada zona
dsSell.groupby('zona').mean()['price_aprox_usd']

In [ ]:
#El precio promedio de cada tipo de cosa vendida
dsSell.groupby('property_type').mean()['price_aprox_usd']

In [ ]:
dsSell[dsSell.zona == 'Bs.As. G.B.A. Zona Norte']['property_type'].value_counts()

In [ ]:
dsSell[dsSell.zona == 'Bs.As. G.B.A. Zona Sur']['property_type'].value_counts()

In [ ]:
dsSell[dsSell.zona == 'Bs.As. G.B.A. Zona Oeste']['property_type'].value_counts()

In [ ]:
dsSell[dsSell.zona == 'Capital Federal']['property_type'].value_counts()

In [ ]:
#Que mes se vende mas?
dsSell['mes'] = dsSell.created_on.apply(lambda x: x.split('-')[1])
dsSell['mes'].value_counts()