In [2]:
import datetime as datetime
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


plt.style.use('default') # Make the graphs a bit prettier
plt.rcParams['figure.figsize'] = (15, 5)

In [303]:
dsSell2013 = pd.read_csv("sell2013.csv", low_memory=False)
dsSell2014 = pd.read_csv("sell2014.csv", low_memory=False)
dsSell2015 = pd.read_csv("sell2015.csv", low_memory=False)
dsSell2016 = pd.read_csv("sell2016.csv", low_memory=False)
dsSell2017 = pd.read_csv("sell2017.csv", low_memory=False)

In [304]:
#unimos todos los csv y filtramos para que solo queda GBA y CABA
dsSell = dsSell2013.append(dsSell2014).append(dsSell2015).append(dsSell2016).append(dsSell2017)

In [305]:
dsSell.head()

,country_name,created_on,currency,description,expenses,extra,floor,geonames_id,id,image_thumbnail,...,price_per_m2,price_usd_per_m2,properati_url,property_type,rooms,state_name,surface_covered_in_m2,surface_in_m2,surface_total_in_m2,title
0,NaN,2012-08-08,NaN,NaN,850 aprox,NaN,10.0,3436077.0,NaN,http://cf-thumbs.properati.com.ar/Cry7pVKa41t_...,...,NaN,NaN,http://www.properati.com.ar/ag_venta_departame...,apartment,3.0,NaN,NaN,102.0,NaN,NaN
1,NaN,2012-08-08,NaN,NaN,NaN,NaN,11.0,3427467.0,NaN,http://cf-thumbs.properati.com.ar/MwrzW_dkQbqR...,...,NaN,NaN,http://www.properati.com.ar/ah_venta_departame...,apartment,3.0,NaN,NaN,73.0,NaN,NaN
2,NaN,2012-08-08,NaN,NaN,NaN,NaN,NaN,3427467.0,NaN,http://cf-thumbs.properati.com.ar/2wMqxAsh1N2t...,...,NaN,NaN,http://www.properati.com.ar/aj_venta_casa_vill...,house,4.0,NaN,NaN,485.0,NaN,NaN
3,NaN,2012-08-08,USD,NaN,NaN,NaN,NaN,3427467.0,NaN,http://cf-thumbs.properati.com.ar/uMwzJsvexa1C...,...,NaN,315.186246,http://www.properati.com.ar/ak_venta_casa_vill...,house,4.0,NaN,NaN,349.0,NaN,NaN
4,NaN,2012-08-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://cf-thumbs.properati.com.ar/4kPnofvgR6hs...,...,NaN,NaN,http://www.properati.com.ar/ao_venta_departame...,apartment,3.0,NaN,NaN,NaN,NaN,NaN

In [3]:
#Queremos quedarnos con la zona, el municipio y los que esten en CABA y GBA
def getMunicipioYZona(df):
    df['municipio'] = df['place_with_parent_names'].apply(lambda x: x.split('|')[3])
    df['zona'] = df['place_with_parent_names'].apply(lambda x: x.split('|')[2])

    df['filtro'] = df['zona'].apply(lambda x: ((x=='Capital Federal')or(x=='Bs.As. G.B.A. Zona Norte')or(x=='Bs.As. G.B.A. Zona Sur')or(x=='Bs.As. G.B.A. Zona Oeste')))
    df = df[df.filtro]

In [4]:
#Como nos importa mucho el precio con respecto a otras cosas vamos a sacar a los que tienen esa columna en NaN
def filtrarPrecioNulo(df):
    df['tiene_precio'] = df['price'].apply(lambda x: pd.notnull(x))
    df = df[df.tiene_precio]

In [5]:
#convertimos el formato de la fecha
def formatearFecha(df):
    df['year'] =pd.to_numeric(df['created_on'].map( lambda x: x.split('-')[0]))
    df['month'] = pd.to_numeric(df['created_on'].map( lambda x: x.split('-')[1]))
    df['created_on'] = df['created_on'] .map(lambda x: x.split('-')[0]+x.split('-')[1]+x.split('-')[2])

In [309]:
#contamos la cantidad de publicaciones para cada aÃ±o
#Sell2012 = dsSell[dsSell.created_on.str.contains('2012')]
#Sell2013 = dsSell[dsSell.created_on.str.contains('2013')]
#Sell2014 = dsSell[dsSell.created_on.str.contains('2014')]
#Sell2015 = dsSell[dsSell.created_on.str.contains('2015')]
#Sell2016 = dsSell[dsSell.created_on.str.contains('2016')]
#Sell2017 = dsSell[dsSell.created_on.str.contains('2017')]
#print (Sell2012.id.count())
#print (Sell2013.id.count())
#print (Sell2014.id.count())
#print (Sell2015.id.count())
#print (Sell2016.id.count())
#print (Sell2017.id.count())

In [310]:
#generamos un df con los precios por m2 en usd para cada zona por aÃ±o
#dSell2012 = Sell2012.groupby('zona').mean().reset_index()[['zona','price_usd_per_m2']]
#dSell2013 = Sell2013.groupby('zona').mean().reset_index()[['zona','price_usd_per_m2']]
#dSell2014 = Sell2014.groupby('zona').mean().reset_index()[['zona','price_usd_per_m2']]
#dSell2015 = Sell2015.groupby('zona').mean().reset_index()[['zona','price_usd_per_m2']]
#dSell2016 = Sell2016.groupby('zona').mean().reset_index()[['zona','price_usd_per_m2']]
#dSell2017 = Sell2017.groupby('zona').mean().reset_index()[['zona','price_usd_per_m2']]
#dSell_price_m2_per_year = Sell2012.groupby('zona').mean().reset_index()[['zona','price_usd_per_m2']]
#dSell_price_m2_per_year['price_usd_per_m2-2013'] = dSell2013['price_usd_per_m2']
#dSell_price_m2_per_year['price_usd_per_m2-2014'] = dSell2014['price_usd_per_m2']
#dSell_price_m2_per_year['price_usd_per_m2-2015'] = dSell2015['price_usd_per_m2']
#dSell_price_m2_per_year['price_usd_per_m2-2016'] = dSell2016['price_usd_per_m2']
#dSell_price_m2_per_year['price_usd_per_m2-2017'] = dSell2017['price_usd_per_m2']
#dSell_price_m2_per_year.rename(columns={'price_usd_per_m2':'price_usd_per_m2-2012'},inplace = True)
#dSell_price_m2_per_year.head()

In [6]:
def getInfoFromDescription(df):
    df['cochera'] = df.description.str.contains('cochera')
    df['pileta'] = df.description.str.contains('pileta')
    df['sum'] = df.description.str.contains('sum')
    df['aire acondicionado'] = df.description.str.contains('aire acondicionado')
    df['calefaccion'] = df.description.str.contains('calefaccion')
    df['seguridad'] = df.description.str.contains('seguridad')
    df['estrenar'] = df.description.str.contains('estrenar')
    df['emprendimiento'] = df.description.str.contains('emprendimiento')

    #convertimos los valores false , true y nan de las busquedas anteriores

    df['cochera'] = df['cochera'].map(lambda x: 0 if x == 'False' else 1 if x == 'True' else 0.5)
    df['pileta'] = df['pileta'].map(lambda x: 0 if x == 'False' else 1 if x == 'True' else 0.5)
    df['sum'] = df['sum'].map(lambda x: 0 if x == 'False' else 1 if x == 'True' else 0.5)
    df['aire acondicionado'] = df['aire acondicionado'].map(lambda x: 0 if x == 'False' else 1 if x == 'True' else 0.5)
    df['calefaccion'] = df['calefaccion'].map(lambda x: 0 if x == 'False' else 1 if x == 'True' else 0.5)
    df['seguridad'] = df['seguridad'].map(lambda x: 0 if x == 'False' else 1 if x == 'True' else 0.5)
    df['estrenar'] = df['estrenar'].map(lambda x: 0 if x == 'False' else 1 if x == 'True' else 0.5)
    df['emprendimiento'] = df['emprendimiento'].map(lambda x: 0 if x == 'False' else 1 if x == 'True' else 0.5)

In [7]:
#pasar todas las superficies de surface_in_m2 a total_surface_in_m2
def estandarizarCampoSuperfice(df):
    mask = (df['surface_total_in_m2'].isnull())
    df['surface_total_in_m2'][mask] = df['surface_in_m2'][mask]

In [8]:
#drop de columnas
def dropColumnas(df):
    df.drop('price_per_m2', axis = 1, inplace = True)
    df.drop('place_with_parent_names', axis = 1, inplace = True)
    df.drop('created_on', axis = 1, inplace = True)
    df.drop('description', axis = 1, inplace = True)
    df.drop('currency', axis=1, inplace=True)
    df.drop('extra', axis=1, inplace=True)
    df.drop('id', axis=1, inplace=True)
    df.drop('image_thumbnail', axis=1, inplace=True)
    df.drop('properati_url', axis=1, inplace=True)
    df.drop('title', axis=1, inplace=True)
    df.drop('lat-lon', axis=1, inplace=True)
    df.drop('operation', axis=1, inplace=True)
    df.drop('price', axis=1, inplace=True)
    df.drop('price_aprox_local_currency', axis=1, inplace=True)
    df.drop('country_name', axis=1, inplace=True)
    df.drop('place_name', axis=1, inplace=True)
    df.drop('municipio', axis=1, inplace=True)
    df.drop('state_name', axis=1, inplace=True)
    df.drop('geonames_id', axis=1, inplace=True)
    df.drop('price_usd_per_m2', axis=1, inplace=True)
    df.drop('surface_in_m2', axis=1, inplace=True)
    df.drop('filtro', axis=1, inplace=True)
    df.drop('tiene_precio', axis=1, inplace=True)

In [314]:
dsSell.columns

Index(['country_name', 'created_on', 'currency', 'description', 'expenses',
       'extra', 'floor', 'geonames_id', 'id', 'image_thumbnail', 'lat',
       'lat-lon', 'lon', 'operation', 'place_name', 'place_with_parent_names',
       'price', 'price_aprox_local_currency', 'price_aprox_usd',
       'price_per_m2', 'price_usd_per_m2', 'properati_url', 'property_type',
       'rooms', 'state_name', 'surface_covered_in_m2', 'surface_in_m2',
       'surface_total_in_m2', 'title'],
      dtype='object')

In [9]:
#preprocessing

def preprocesamientoExpensas(df):
    #eliminamos todo lo q no es numero de expenses
    df['expenses'] = df['expenses'].str.extract('(\d+)')
    #convertimos a float

    df['expenses'] =pd.to_numeric(df.expenses, errors='coerce').notnull()

In [10]:
#one hot encoding de los place name. me suena mal muchas columnas. performance
def oneHotEncoding(df, columna):
  
    one_hot = pd.get_dummies(df[columna])
    df.drop(columna, axis=1, inplace=True)
    df = df.join(one_hot)

In [11]:
#filleamos los nan con el promedio de las columnas
def fillNan(df):
    return df.apply(lambda x: x.fillna(x.mean()),axis=0)

In [318]:
#normalize data

In [319]:
getMunicipioYZona(dsSell)
filtrarPrecioNulo(dsSell)
formatearFecha(dsSell)
getInfoFromDescription(dsSell)
estandarizarCampoSuperfice(dsSell)
dropColumnas(dsSell)
preprocesamientoExpensas(dsSell)
oneHotEncoding(dsSell, 'zona')
oneHotEncoding(dsSell, 'property_type')
dsSell = fillNan(dsSell)

M:\Users\Krion\Anaconda3\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
M:\Users\Krion\Anaconda3\lib\site-packages\ipykernel\__main__.py:5: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)

In [320]:
#creamos un set de test y otro de entrenamiento. el test de entrenamiento sera de un 10% del original 

dsSell['is_true'] = np.random.uniform(0,1,len(dsSell)) <= 0.1
dsSellTrain, dsSellTest = dsSell[dsSell['is_true']==True], dsSell[dsSell['is_true']==False]
del dsSell['is_true']
del dsSellTrain['is_true']
del dsSellTest['is_true']

dsSellTrain_y = dsSellTrain['price_aprox_usd']
dsSellTrain_x = dsSellTrain.drop('price_aprox_usd', axis=1)
dsSellTest_y = dsSellTest['price_aprox_usd']
dsSellTest_x = dsSellTest.drop('price_aprox_usd', axis=1)

In [321]:
#normalize data
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler

dsSellTrain_x = preprocessing.normalize(dsSellTrain_x)

scaler = StandardScaler()
scaler.fit(dsSellTrain_x) 
dsSellTrain_x= scaler.transform(dsSellTrain_x)

In [322]:
model.get_params()

{'alpha': 0.0001,
 'average': False,
 'epsilon': 0.1,
 'eta0': 0.01,
 'fit_intercept': True,
 'l1_ratio': 0.15,
 'learning_rate': 'invscaling',
 'loss': 'squared_loss',
 'n_iter': 5,
 'penalty': 'l2',
 'power_t': 0.25,
 'random_state': None,
 'shuffle': True,
 'verbose': 0,
 'warm_start': False}

In [323]:
from sklearn.model_selection import RandomizedSearchCV
from numpy import random
from sklearn import linear_model
from sklearn.metrics import accuracy_score
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import make_scorer

import scipy
import time

print("[INFO] tuning hyperparameters via grid search")

params = {'loss' : ['squared_epsilon_insensitive'],
              'learning_rate' : ['optimal', 'invscaling'] , 'eta0' : [0.01,0.001,0.1,1,10,5], 'power_t' : [0.25,0.3,0.8,0.1,0.1,0.60],
                'alpha' : [1,10,0.01,0.0001,1000,100,200]} 

model = linear_model.SGDRegressor()
grid = RandomizedSearchCV(model, params, n_jobs = -1)


start = time.time()
print("[INFO] fitting stage")
grid = grid.fit(dsSellTrain_x , dsSellTrain_y)
acc = grid.best_score_

print("[INFO] grid search took {:.2f} seconds".format(time.time() - start))
print("[INFO] grid search accuracy: {:.2f}%".format(acc * 100))
print("[INFO] grid search best parameters: {}".format(grid.best_params_))

[INFO] tuning hyperparameters via grid search
[INFO] fitting stage
[INFO] grid search took 6.93 seconds
[INFO] grid search accuracy: 10.19%
[INFO] grid search best parameters: {'power_t': 0.25, 'loss': 'squared_epsilon_insensitive', 'learning_rate': 'invscaling', 'eta0': 0.001, 'alpha': 1}

In [20]:
#levantamos el set de test 
testSet = pd.read_csv("testSet.csv", low_memory=False)
testId = testSet['id']

In [21]:
#drop de columnas
def dropColumnasTestSet(df):
    df.drop('place_with_parent_names', axis = 1, inplace = True)
    df.drop('created_on', axis = 1, inplace = True)
    df.drop('description', axis = 1, inplace = True)
    df.drop('id', axis=1, inplace=True)
    df.drop('lat-lon', axis=1, inplace=True)
    df.drop('operation', axis=1, inplace=True)
    df.drop('country_name', axis=1, inplace=True)
    df.drop('place_name', axis=1, inplace=True)
    df.drop('municipio', axis=1, inplace=True)
    df.drop('state_name', axis=1, inplace=True)
    df.drop('filtro', axis=1, inplace=True)

In [22]:
#preprocesamos el set de test
testSetPreprocessed = testSet

getMunicipioYZona(testSetPreprocessed)
formatearFecha(testSetPreprocessed)
getInfoFromDescription(testSetPreprocessed)
dropColumnasTestSet(testSetPreprocessed)
preprocesamientoExpensas(testSetPreprocessed)
oneHotEncoding(testSetPreprocessed, 'zona')
oneHotEncoding(testSetPreprocessed, 'property_type')
testSetPreprocessed = fillNan(testSetPreprocessed)

M:\Users\Krion\Anaconda3\lib\site-packages\ipykernel\__main__.py:5: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)

In [23]:
testSetPreprocessed.columns

Index(['lat', 'lon', 'surface_total_in_m2', 'surface_covered_in_m2', 'floor',
       'rooms', 'expenses', 'year', 'month', 'cochera', 'pileta', 'sum',
       'aire acondicionado', 'calefaccion', 'seguridad', 'estrenar',
       'emprendimiento'],
      dtype='object')

In [30]:
testPrice= grid.predict(testSetPreprocessed)

In [28]:
dataPredictions = {'id' : testId,
        'price_usd' : testPrice}
testPrediction = pd.DataFrame(dataPredictions)

In [29]:
testPrediction

            id  price_usd
0         3632          0
1         3633          0
2      2263404          0
3      2263405          0
4      2263406          0
5      2263407          0
6      2263408          0
7      2263409          0
8      2263410          0
9      2263411          0
10     2263412          0
11     2263413          0
12     2263415          0
13     2263416          0
14     2263417          0
15     2263418          0
16     2263419          0
17     2263420          0
18     2263421          0
19     2263422          0
20     2263423          0
21     2263424          0
22     2263425          0
23     2263426          0
24     2263427          0
25     2263428          0
26     2263429          0
27     2263430          0
28     2263431          0
29     2263432          0
...        ...        ...
14136  2245037          0
14137  2245039          0
14138  2245041          0
14139  2245042          0
14140  2245071          0
14141  2245093          0
14142  2245123          0
14143  2245124          0
14144  2245167          0
14145  2245170          0
14146  2245172          0
14147  2245180          0
14148  2245185          0
14149  2245186          0
14150  2245187          0
14151  2245203          0
14152  2245221          0
14153  2245222          0
14154  2245228          0
14155  2245266          0
14156  2245331          0
14157  2245345          0
14158  2245921          0
14159  2245929          0
14160  2245930          0
14161  2245938          0
14162  2245978          0
14163  2246083          0
14164  2246089          0
14165  2246127          0

[14166 rows x 2 columns]

In [ ]:
#exportar csv con formato para kaggle
fileName = "predictionSGDRegressor.csv"
testPrediction.to_csv(fileName, sep=',')